@import url('https://fonts.googleapis.com/css?family=Roboto|PT+Sans|Open Sans|Ubuntu');
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-top: 70px;
  margin-bottom: 150px;
  color: #555;
  background: #f2f2f2;
  font-family: Ubuntu, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  /*делает шрифт гладким на моб устройствах*/
  -webkit-overflow-scrolling: touch;
  /*для скрола тачем*/
}
input,
button {
  outline: 0 !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: PT Sans, sans-serif;
  font-weight: 300;
  color: #333;
}
p {
  line-height: 28px;
  margin-bottom: 25px;
}
.centered {
  text-align: center;
}
a {
  font-size: 15px;
  font-family: Open Sans, sans-serif;
}
a:hover,
a:focus {
  color: #7b7b7b;
  text-decoration: none;
  outline: 0;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
/* end custom styles*/
/* start header styles*/
.navbar {
  font-weight: 800;
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 1px;
}
.navbar-inverse {
  background: #2d2d2d;
  border-color: #2d2d2d;
}
.navbar-inverse .navbar-nav > .active > a {
  background: maroon;
}
.navbar-inverse .navbar-brand {
  color: #fff;
  opacity: 0.75;
  font-weight: bold;
  font-size: 22px;
  letter-spacing: 1px;
}
.navbar-inverse .navbar-brand:hover {
  opacity: 1;
}
/* end header styles*/
/* start wrap styles*/
#headerwrap {
  background: url(../img/headerwrap2.jpg);
  margin-top: -10px;
  padding-top: 20px;
  text-align: center;
  background-attachment: fixed;
  background-position: center center;
  min-height: 500px;
  width: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#headerwrap h1 {
  margin-top: 100px;
  color: #fff;
  font-size: 50px;
  font-weight: 300;
  letter-spacing: 3px;
}
#headerwrap h2 {
  color: #fff;
  font-size: 30px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
/* main container*/
.wrp {
  padding-top: 70px;
  margin-bottom: 100px;
}
.main .col-lg-3 {
  padding: 5px;
}
.wrp .tilt {
  background: #fafafa;
  padding-top: 5px;
}
/* start sidebar  */
#nav {
  padding: 0;
  text-align: left;
  font-size: 14px;
  padding-left: 20px;
}
#nav .menu-title {
  padding-left: 25px;
  color: #000;
  font-size: 16px;
  line-height: 20px;
  outline: 0;
}
#nav .menu-title:hover {
  cursor: pointer;
  font-weight: 600;
}
ul {
  list-style: none;
  padding-bottom: 10px;
}
ul li a {
  color: #2e2e2e;
  line-height: 30px;
  padding: 3px;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
ul li a:hover {
  font-weight: 600;
}
ul li a:hover ul li {
  list-style-type: circle;
}
/* end sidebar  */
#manufacturers {
  background: #e0e0e0;
  padding-top: 40px;
  padding-bottom: 70px;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.75);
}
#manufacturers h4 {
  font-size: 36px;
  padding-bottom: 30px;
}
.tilt img {
  width: 180px;
  transition: all 0.3s ease-in;
  transform: scale(1);
}
.tilt:hover img {
  transform: scale(1.07);
}
.tilt_brands img {
  transition: all 1s ease;
  transform: scale(1);
}
.tilt_brands:hover img {
  transform: scale(1.07);
}
#background-bottom {
  background: red;
  padding: 20px 0;
  background: url(../img/bg-bottom.jpg);
  width: 100%;
  min-height: 220px;
  background-size: 100%;
  background-attachment: fixed;
  background-size: cover;
  opacity: 0.6;
}
#map {
  background-color: #000;
}
#map iframe {
  width: 100%;
  min-height: 500px;
}
#map address {
  padding-top: 20px;
  color: #333;
}
/*start footer*/
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #888;
  padding-top: 10px;
  padding-bottom: 1px;
  min-height: 100px;
}
footer i.fa {
  font-size: 30px;
  color: #dbdbdb;
  padding: 20px;
}
footer i.fa:hover {
  color: #f3f3f3;
}
/*end footer*/
/*helmets page start*/
.main .col-lg-6 {
  padding: 5px;
}
.wrp .product {
  background: #fafafa;
  padding-top: 5px;
  min-height: 220px;
}
.description h4 {
  font-size: 16px;
  color: #000;
}
.description p.price {
  font-size: 18px;
  font-weight: 600;
  color: #000;
}
.showOne {
  height: 100%;
  color: #fff;
  background: #a52a2a;
  border-radius: 10px;
  padding: 10px 12px;
}
/*helmets page end*/
/*product page start*/
.wrpProduct {
  background: #fafafa;
  color: #333;
}
.field {
  clear: both;
  float: left;
  text-align: left;
  line-height: 30px;
}
.label {
  color: #333;
  font-size: 14px;
  float: left;
  padding-top: 8px;
  padding-left: 10px;
  padding-right: 30px;
}
.prod {
  float: left;
}
.prod .status {
  padding-top: 40px;
  font-size: 20px;
  color: #FE9A2E;
}
/*
.wrpProduct input{
	width: 40px;
	border: 2px solid #FE9A2E;
}

.size span.lable{	
    position: relative;
    display: block;
    float: left;
}

.size label{
	width: 32px;
	height: 26px;
	border: 2px solid #ccc;
	position: relative;
}
input[type="checkbox"] {
    display:none;
}

input[type="checkbox"] + span{
	position: absolute;
	left: 0;
	top: 0;
	background: url("../img/input.png");
	
	width: 100%;
	height: 100%;
	cursor: pointer;
}

input[type="checkbox"]:checked + span{	
	background-color: @status_color;
}*/
/*product page end*/
